<main class="container mx-auto px-8 py-6">
    <div class="container-header flex justify-between items-center mb-5">
        <h1>Cadastrar Estudante</h1>
    </div>

    <form [formGroup]="form" class="grid grid-cols-12 gap-2">
        <div class="col-span-4">
            <input type="text" placeholder="Nome do Estudante..." formControlName="nome">
        </div>
        <div class="col-span-5">
            <select formControlName="curso_id" (change)="getTurma()">
                <option [value]="null" selected hidden>Escolha um curso</option>
                @for(item of cursos; track item.id) {
                    <option [value]="item.id">{{item.nome}}</option>
                }
            </select>
        </div>
        <div class="col-span-5">
            <select formControlName="turma_id">
                <option [value]="null" selected hidden>Escolha um curso</option>
                @for(item of turmas; track item.id) {
                    <option [value]="item.id">{{item.nome}}</option>
                }
            </select>
        </div>
        <div class="col-span-3">
            <input type="number" placeholder="Ano da Turma..." formControlName="ano">
        </div>

        <div class="col-span-6 btns">
            @if(isEditing) {
                <button class="confirm" (click)="add()">Atualizar</button>
            } @else {
                <button class="confirm" (click)="add()">Cadastrar</button>
            }
            <button class="cancel" routerLink="/turma">Cancelar</button>
        </div>
    </form>
</main>