h1 {
    font-size: 26px;
  }

  input {
    height: 50px;
    background-color: rgb(238, 238, 238);
    padding: 12px 10px;
    border-radius: 6px;
    outline: none;
  }

  .search {
    height: 50px;
    border-radius: 6px;
    width: 100%;
    background-color: #0C7FDA;
    color: white;
  }

  .edit {
    color: #0C7FDA;
    mat-icon {
      color: #0C7FDA;
    }
  }

  .delete {
    color: #f44336;
    mat-icon {
      color: #f44336;
    }
  }

  